
body {
background-color: #fff;
}


table {
	background: #ffffff;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
    border-radius: 10px;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	width: calc(100% - 200px);
}	

th {
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	box-shadow: inset 0 1px 0 rgb(255, 255, 255);
	color: #fff;
   font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}
th:first-child{
    border-radius: 10px 0 0 0;
}
th:last-child{
    border-radius: 0 10px 0 0;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid rgb(255, 255, 255);	
	box-shadow: inset 1px 1px 0 rgb(255, 255, 255);
}

th:last-child {
	box-shadow: inset -1px 1px 0 rgb(255, 255, 255);
}

td {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
    border-radius: 0 0 10px 10px;
	position: relative;
	transition: all 300ms;
    color: #325b69
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
    border-left: 1px solid #00c19a;
}	

td:last-child {
	border-right: 1px solid #00c19a;
	box-shadow: inset -1px 0 0 #fff;
}	

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	


thead {
background-image: linear-gradient(to right, #10B37A,#10C18D, #0A6C15);
}

tfoot {
background-image: linear-gradient(to right, #10B37A,#10C18D, #0A6C15);
border-radius: 10px;
}


body {
margin: 0 20px;

}
head{
margin: 0%;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
  }

  .pagination ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a,
  .pagination span {
    padding: 5px 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    color: #006815;
    background-color: #ffffff;
  }


  .pagination .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

@media (max-width: 768px) {
table {
width: auto;
}
}

.searched{
       padding-top: 40px;
       
}

.studentd{
    margin-top: 43px;
    text-decoration: none;
}
